/* Color Theme Swatches in RGBA */
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-rgba {
  color: rgba(18, 114, 105, 1);
}
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-rgba {
  color: rgba(15, 63, 58, 1);
}
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-rgba {
  color: rgba(137, 165, 162, 1);
}
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-rgba {
  color: rgba(75, 89, 87, 1);
}
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-rgba {
  color: rgba(191, 191, 191, 1);
}

:root {
  --primary: rgb(15, 63, 58, 1);
  --secundary: rgb(18, 114, 105, 1);
  --tertiary: rgb(137, 165, 162, 1);
  --queaternary: rgb(75, 89, 87, 1);
  --quinary: rgb(191, 191, 191, 1);

  --principal-font-size: 3.8rem;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px; /* 1rem = 10px*/
}

.title {
  text-align: center;
  font-size: var(--principal-font-size);
  font-family: "Kanit", sans-serif;
}

.title span {
  font-size: 2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.nav_bg {
  background-color: var(--primary);
}

.principal_navigation {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) { 
  .principal_navigation {
    flex-direction: row;
  justify-content: space-between;
  }
}
.principal_navigation a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1rem;
  
}
.principal_navigation a:hover {
  border-radius: 1rem;
  background-color: var(--secundary);
}

.icon_color {
  background-color: var(--tertiary);
}


